/* Styles for the Drawing area */

.draw {
    width: 512px;
    height: 512px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    overflow: hidden;
}

.draw-pixel {
    background-color: #ebecb3;
}

.black {
    background-color: black;
}