:root {
    --base-color: #000000;
    --accent-color: #c44e95;
    --main-color: #c4e6ca;

    --current-color: #000000;
    
    --draw-width: 1024px;
    --draw-height: 1024px;
}

@font-face {
    font-family: 'VCR';
    src: url('res/vcr-webfont.woff2') format('woff2'),
         url('res/vcr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Stop the blur, this is pixel territory */
* { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}

html, body {
    background-color: var(--base-color);
    min-width: 100%;
    min-height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-family: 'VCR', sans-serif;
    font-size: 35px;
    line-height: 0.8;
    margin: 3vh 0 3vh 0;
}

h2 {
    font-family: 'VCR', sans-serif;
    font-size: 25px;
    line-height: 0.8;
    margin: 0;
}

h3 {
    font-family: 'VCR', sans-serif;
    font-size: 15px;
    line-height: 0.8;
    margin: 2vh 0 0 0;
}

canvas {
    scale: 1; /* Set by script.js */
    transform: translateY(0); /* Set by script.js */
}

/* ---MAIN GRID IS HERE -- */
.main {
    display: grid;
    min-height: 100%;
}
/*grid item 1 */
.left-menu {
    background-color: var(--base-color);
    grid-column: 1 / 1;
    grid-row: 1 / span 3;
    text-align: center;
    color: var(--main-color);
    width:15vw;
}

#color-picker {
    border: none;
    margin: 1vh 0 3vh 0;
    padding: 0;
    height: 4em;
    width: 4em;
}

.pink-container {
    background-color: var(--accent-color);
    color: var(--base-color);
    text-align: center;
    padding: 2vh;
}
.blue-container {
    background-color: var(--base-color);
    color: var(--main-color);
    text-align: center;
    padding: 2vh;
}

.preview-container {
    text-align: center;
}

.view-container {
    border: 5px solid var(--main-color);
    line-height: 0;
    background-color: #ffffff;
    width: 0; /* Set by script.js */
    height: 0; /* Set by script.js */
    margin: 0 auto;

}

.sticky-top {
    position: sticky;
    top: 0px;
}

/*grid item 2 */
.header {
    background-color: var(--accent-color);
    grid-column: 2 / span 2;
    grid-row: 1;
    overflow: hidden;
    min-width:100%;
    height: 10vh;
}

.header p {
    font-family: 'VCR', sans-serif;
    font-size: 45px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    color: var(--base-color);
}

/*grid item 3 */

.draw-container { 
    grid-column: 2;
    background-color: var(--main-color);
    min-height: 90vh !important;
    min-width: 85vw !important;
    width: auto;
    overflow: auto;
}
/* ---DRAW AREA IS HERE -- */

.draw {
    width: var(--draw-width);
    height: var(--draw-height);
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    overflow: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.draw-pixel {
    box-sizing: border-box;
    border-top: 1px dashed rgba(126, 125, 124, 0.4);
    border-right: 1px dashed rgba(126, 125, 124, 0.4);
    background-color: white;
}

.draw-pixel-trans0 {
    background-color: rgb(238, 238, 238);
}

.draw-pixel-trans1 {
    background-color: rgb(204, 204, 204);
}

.draw-pixel:hover {
    background-color: var(--current-color) !important;
}

/* Helper Classes */

.pointer {
    cursor:pointer;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-select-drag {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}